.caixa{
    background-color: aquamarine;
    padding: 30px;
    margin: 10px;
}
  .container{
    display: flex; /*um ao lado do outro */
    flex-direction: row;
    background-color: bisque;
    height: 400px;
    align-items: center;
    justify-content: center;
    gap: 20px;
    flex-wrap: wrap;

  }
